/*sintaxe básica*/
html,body{
    margin:0;
    padding:0;
    height: 100%;
    width: 100%;

}
header{
     background-color:black;
     height: 150px;
     width: 100%;
     position: fixed;
     top:0;
     left: 0;
}
nav{
    float: right;
    margin: 65px 150px 0 0; 
}
footer{
    background-color:white;
    text-align: center;
    position: static;
    bottom: 0;
    right: 0;
    left: 0;
    clear: both;
    text-shadow: 1px 1px 1px #111111;
    min-height: 50px;

}
footer:hover{
    background-color: rgba(0,0, 0, 0.2);
}
p{
    font-family: 'Times New Roman', Times, serif;
    color:white;
    font-size: 20px;

}

div.container_header{
    width: 100%;
    margin:0 auto;
    top: 0;
}

div.corpo{
    min-height: 1080px;
    margin: 150px 0 0 0;
    background-image: url('FUNDO.jpg');
    background-size: 100%;
    clear: both;
}
.corpo a, h3, h2, h1{
    color:white;
    font-size: 25px;
}

#logo{
    float:left;
}
#menu{
    float:right;
}
#menu a{
    padding: 15px;
    color: white;
}
#menu a:hover{
    background-color: rgba(255, 255, 255, 0.678);
    padding: 65px 20px 65px 20px;
    text-shadow:1px 1px 1px  #000000;
    color: black;
}
#div_aside1{
    width: 60%;
    float: left;
    margin:  8% 5% 0 10%; 
    text-align: center;
    background-color: rgba(255, 255, 255, 0.63);
    
}

#div_aside{
    width: 20%;
    float: right;
    margin: 7% 0 0 5%;
}
#div_aside a:hover{
    color: red;
    background-color: rgba(252, 0, 0, 0.4);
}
a{
    text-decoration: none;
}


